[submodule "frontend/src/contrib/aidbox-react"]
	path = frontend/src/contrib/aidbox-react
	url = https://github.com/beda-software/aidbox-react.git
[submodule "backend/embed/aidbox-python-sdk"]
	path = backend/embed/aidbox-python-sdk
	url = https://github.com/Aidbox/aidbox-python-sdk
